body {
  margin: 0;
}

@media only screen and (min-width: 850px) {
  .mobile {
    display: none;
  }
  body {
    width: 100% !important;
  }
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 90px;
        grid-template-rows: 90px;
    -ms-grid-columns: auto  auto auto;
        grid-template-columns: auto  auto auto;
    background-color: #f7f8f9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9000;
    border-top: 4px solid #00849E;
    -webkit-box-shadow: 0px 3px 6px #00000029;
            box-shadow: 0px 3px 6px #00000029;
  }
  #header #divLogo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 20px;
    height: 62px;
    max-width: 130px;
    width: 100%;
  }
  #header #divInfo {
    padding-right: 20px;
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1em;
  }
  #header #divInfo input {
    height: 33px;
    color: #fff;
    padding: 5px 22px 6px 22px;
    font-size: 15px;
    border-radius: 100px;
    background-color: #EBAB17;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border: 0;
    margin-left: 15px;
  }
  #header #divInfo input:hover {
    background-color: #cc9516;
  }
  #header #divInfo p {
    margin: 0 15px;
    padding-top: 6px;
  }
  #header #divInfo p a {
    color: #00849E;
    text-decoration: none;
  }
  #header .divList {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    max-width: 400px;
  }
  #header .divList .menuList {
    padding: 0px;
    font-size: 15px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    white-space: nowrap;
  }
  #header .divList .menuList #secondLink {
    padding: 0 40px;
  }
  #header .divList .menuList a {
    font-size: 1.2em;
    text-decoration: none;
    color: #444;
  }
  #header .divList .menuList a:hover {
    color: #61B946;
  }
  #part1 .banner {
    background-image: url(../assets/images/banner.png);
    height: 568px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
  }
  #part1 .banner .txtBanner {
    color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 20px;
    align-self: center;
  }
  #part1 .banner .txtBanner .bannerH1 {
    font-size: 6em;
    color: #61b946;
  }
  #part1 .banner .txtBanner .bannerH2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  #part1 .banner .txtBanner .bannerH2 span {
    color: #61b946;
  }
  #part1 .banner .txtBanner .bannerAssinatura {
    font-style: italic;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .bannerTxt {
    margin-top: 50px;
    font-size: 2em;
  }
  #part1 .banner .txtBanner .bannerTxt2 {
    margin-top: 75px;
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .containerImg {
    max-width: 200px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 849px) {
  .desktop {
    display: none !important;
  }
  #header {
    display: -ms-grid;
    display: grid;
    background-color: #f7f8f9;
    -ms-grid-rows: 90px;
        grid-template-rows: 90px;
    z-index: 20000;
    padding: 0 5px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #header #divLogo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 20px;
    max-width: 150px;
  }
  #header #divInfo {
    padding-right: 20px;
    justify-self: end;
    -ms-flex-item-align: center;
        align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #divInfo p {
    margin: 0 15px;
    padding-top: 6px;
  }
  #header #divInfo p a {
    color: #00849E;
    text-decoration: none;
  }
  .divList {
    grid-area: list;
    background-color: #EBECED;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-color: #d7d7d7;
    border-block-end-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 20023;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
  }
  .divList .menuList {
    font-size: 0.86em;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: nowrap;
    padding: 0 10px;
  }
  .divList .menuList a {
    font-size: 1.2em;
    text-decoration: none;
    color: #444;
  }
  .divList .menuList a:hover {
    color: #61B946;
  }
  .divList input {
    height: 33px;
    color: #fff;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 100px;
    background-color: #EBAB17;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border: 0;
    font-weight: 700;
  }
  .divList input:hover {
    background-color: #cc9516;
  }
  #part1 .banner .txtBanner {
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -30em;
    width: 97vw;
    font-size: 2.7vw;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #part1 .banner .txtBanner .bannerH1 {
    font-size: 6em;
    color: #61b946;
  }
  #part1 .banner .txtBanner .bannerH2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  #part1 .banner .txtBanner .bannerH2 span {
    color: #61b946;
  }
  #part1 .banner .txtBanner .bannerAssinatura {
    font-style: italic;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .bannerTxt {
    margin-top: 20px;
    font-size: 2em;
  }
  #part1 .banner .txtBanner .bannerTxt2 {
    margin-top: 45px;
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .containerImg {
    height: 30px;
    width: 30vw;
    margin-top: 20px;
  }
}

/*
@media only screen and (max-width: 650px) {
    .banner{
        height: 116vh !important;
    }
}

@media only screen and (max-width: 500px) {
    .banner{
        height: 100vh !important;
    }
}


@media only screen and (max-width: 350px) {
    .banner{
        height: 70vh !important;
        .txtBanner{
            font-size: 0.65em;
        }
    }
} */
/*
585 - 112vh
470 - 92vh
360 - 70vh - .8em
280 - 60vh - .6em


    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

*/
/*# sourceMappingURL=styles.css.map */