body{
    margin: 0;
}
//desktop
@media only screen and (min-width: 850px) {

    .mobile{
        display: none;
    }

    body{
        width: 100% !important;
    }

    #header{

            display: -ms-grid;
            display: grid;

            grid-template-rows: 90px;

            grid-template-columns: auto  auto auto;
            background-color: #f7f8f9;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 9000;
            border-top: 4px solid #00849E;
            box-shadow: 0px 3px 6px #00000029;

            #divLogo{

                align-self: center;
                margin-left: 20px;

                height: 62px;
                max-width: 130px;
                width: 100%;

                


            }

            #divInfo{

                padding-right: 20px;
                justify-self: end;
                align-self: center;
                display: flex;
                font-size: 1.1em;

               input{
                    height: 33px;
                    color: #fff;
                    padding: 5px 22px 6px 22px;
                    font-size: 15px;
                    border-radius: 100px;
                    background-color: #EBAB17;
                    cursor: pointer;
                    font-family: 'Poppins', sans-serif;
                    border: 0;
                    margin-left: 15px;
               }

               input:hover{
                   background-color: #cc9516;
               }

               p{
                    margin: 0 15px;
                    padding-top: 6px;

                    a{
                        color: #00849E;
                        text-decoration: none;
                    }
               }

            }

            .divList{


                align-self: center;
                justify-self: center;
                max-width: 400px;


                .menuList{
                    padding: 0px;
                    font-size: 15px;
                    list-style-type: none;
                    display: flex;
                    grid-template-columns: 1fr 1fr 1fr;
                    justify-items: center;
                    text-align: center;
                    align-items: center;
                    padding-left: 20px;
                    white-space: nowrap;

                    #secondLink{
                        padding: 0 40px;
                    }

                    a{
                        font-size: 1.2em;
                        text-decoration: none;
                        color: #444;
                    }
                    a:hover{
                        color: #61B946;
                    }
                }

            }

    }

    #part1{
        .banner{

            background-image: url(../assets/images/banner.png);
            height: 568px;
            background-position: right;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;

            .txtBanner{
                color: white;
                align-self: center;
                margin-left: 20px;
                align-self: center;

                .bannerH1{
                    font-size: 6em;
                    color: #61b946;
                }

                .bannerH2{
                    font-size: 2em;
                    margin-bottom: 10px;

                    span{
                        color: #61b946;
                    }
                }

                .bannerAssinatura{
                    font-style: italic;
                    font-weight: 300;
                    color: rgba(255,255,255,0.7);
                    font-size: 1.2em;
                }

                .bannerTxt{
                    margin-top: 50px;
                    font-size: 2em;
                }

                .bannerTxt2{
                    margin-top: 75px;
                    font-size: 1.2em;
                }

                .containerImg{
                  max-width: 200px;
                  margin-top: 20px;
                }

            }
        }
    }





}

//mobile
@media only screen and (max-width: 849px) {


    .desktop{
        display: none !important;
    }


    #header{

        display: grid;
        background-color: #f7f8f9;
        //grid-template-areas: "logo info";
        grid-template-rows: 90px;
        //column-gap: 50px;
        z-index: 20000;
        padding: 0 5px;
        grid-template-columns: auto auto;


        #divLogo{
            align-self: center;
            margin-left: 20px;
            max-width: 150px;
            
        }

        #divInfo{
            padding-right: 20px;
            justify-self: end;
            align-self: center;
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            p{
                margin: 0 15px;
                padding-top: 6px;

                a{
                    color: #00849E;
                    text-decoration: none;
                }
           }

           
        }



    }

    .divList{
        grid-area: list;
        background-color: #EBECED;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
        border-color: #d7d7d7;
        border-block-end-style: none;
        display: grid;
        justify-self: center;
        justify-content: center;
        align-items: center;
        z-index: 20023;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        height: 50px;



        .menuList{

            font-size: 0.86em;
            list-style-type: none;
            display: -ms-grid;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
            white-space: nowrap;
            padding: 0 10px;

            

            a{
                font-size: 1.2em;
                text-decoration: none;
                color: #444;
            }
            a:hover{
                color: #61B946;
            }
        }

        input{
            height: 33px;
            color: #fff;
            padding: 8px 12px;
            font-size: 12px;
            border-radius: 100px;
            background-color: #EBAB17;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            border: 0;
            font-weight: 700;
       }

       input:hover{
        background-color: #cc9516;
        }
    }

    #part1{
        .banner{



            .txtBanner{
              color: white;
              text-align: center;
              position: absolute;
              margin-top: -30em;
              width: 97vw;
              font-size: 2.7vw;
              display: grid;
              justify-items: center;

                .bannerH1{
                    font-size: 6em;
                    color: #61b946;
                }

                .bannerH2{
                    font-size: 2em;
                    margin-bottom: 10px;

                    span{
                        color: #61b946;
                    }
                }

                .bannerAssinatura{
                    font-style: italic;
                    font-weight: 300;
                    color: rgba(255,255,255,0.7);
                    font-size: 1.2em;
                }

                .bannerTxt{
                    margin-top: 20px;
                    font-size: 2em;
                }

                .bannerTxt2{
                    margin-top: 45px;
                    font-size: 1.2em;
                }

                .containerImg{
                  height: 30px;
                  width: 30vw;
                  margin-top: 20px;
                }

            }
        }
    }


}

/*
@media only screen and (max-width: 650px) {
    .banner{
        height: 116vh !important;
    }
}

@media only screen and (max-width: 500px) {
    .banner{
        height: 100vh !important;
    }
}


@media only screen and (max-width: 350px) {
    .banner{
        height: 70vh !important;
        .txtBanner{
            font-size: 0.65em;
        }
    }
} */



/*
585 - 112vh
470 - 92vh
360 - 70vh - .8em
280 - 60vh - .6em


    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

*/
