/* ============================= */
/* Opacidade Simples */
.anime_opacidade{
  opacity: 0;
}
.anime_opacidade-init {
    -webkit-animation-name: opacidade100;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-name: opacidade100;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes opacidade100 {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes opacidade100 {
  from {opacity: 0;}
  to {opacity: 1;}
}



/* ============================= */
/* Escala */
.anima_escala_0{
    transform: scale(0,0);
}
.anima_escala_0-init {
    -webkit-animation-name: ampliar;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-name: ampliar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@-webkit-keyframes ampliar {
  from {-webkit-transform: scale(0,0); }
  to {-webkit-transform: scale(1,1); }
}
@keyframes ampliar {
  from {transform: scale(0,0);}
  to {transform: scale(1,1);;}
}


/* ============================= */
/* Sobe Margin */
.sobeMarginTop{
  margin-top: 20%;
  opacity: 0;
}
.sobeMarginTop-init{
  -webkit-animation-name: subirMarginT;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation-name: subirMarginT;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes subirMarginT{
    from {margin-top: 20%; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}
@keyframes subirMarginT{
    from {margin-top: 20%; opacity: 0;}
    to {margin-top: 0px; opacity: 1;}
}


/* ============================= */
/* Desce top */
.anima_desceTop{
  top: -25%;
}
.anima_desceTop-init{
  -webkit-animation-name: descer;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: descer;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes descer {
    from {top: -25%;}
    to {top: -0px;}
}
@keyframes descer {
    from {top: -25%;}
    to {top: -0px;}
}


/* ============================= */
/* Animação Clip ------------- */
.clipTop{
  clip-path: inset(0 0 100% 0);
  opacity: 0;
}
.clipTop-init{
  -webkit-animation-name: cliparTop;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-name: cliparTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes cliparTop {
  from {clip-path: inset(0 0 100% 0); opacity: 0;}
  to {clip-path: inset(0 0 0 0); opacity: 1;}
}
@keyframes cliparTop {
  from {clip-path: inset(0 0 100% 0); opacity: 0;}
  to {clip-path: inset(0 0 0 0); opacity: 1;}
}


.delay200{
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.delay400{
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.delay600{
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.delay800{
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.delay1000{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay1200{
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay1400{
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.delay1500{
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay2000{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay2500{
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}