/* —————————————————————————————— clear.css —————————————————————————————— */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 12px;
  font-weight: normal;
  vertical-align: top;
  background: transparent;
  outline: none;
}
b {
  font-weight: bold;
}
i {
  font-style: italic;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
span {
  vertical-align: baseline;
}
img {
  vertical-align: top;
  text-decoration: none;
}

/* ---------------------------------------- */
/* Importar Fontes */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800&display=swap");

/* ---------------------------------------- */
/* Fontes Descrição
font-family: 'font-family: 'Poppins', sans-serif; // Default



/* ---------------------------------------- */
/* Cores

Cinza Escuro    #444;    - Fonte Padrão
Cinza Claro     #f7f7f7;
Vermelho        #C81E1E;
Verde           #1EC74E;




/* ---------------------------------------- */
/* Tags ----------------------------------- */

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  /* height: 100%; */
  font-size: 12px;
  color: #444;
  /* overflow-x: hidden; */
  font-family: "Poppins", sans-serif;
}

a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ----------------------------------- */
/* Textos ---------------------------- */
h1 {
  font-size: 46px;
  text-align: center;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
h1 span {
  font-size: 46px;
  color: #61b946;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

h2 {
  margin: 0 auto;
  max-width: 960px;
  font-size: 34px;
  line-height: 60px;
  text-align: center;
  transition-property: font-size line-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size line-height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.descricao {
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  max-width: 900px;
}

.box_description {
  padding-top: 50px;
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.txt_descricao {
  margin-top: 30px;
  font-size: 24px;
  transition-property: font-size margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size margin-top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.txt_descricao .txt_red {
  color: #9e730f;
  font-size: 100%;
  transition-property: font-size margin-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size margin-top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.txt_green {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #9e730f;
  transition-property: font-size margin-top margin-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size margin-top margin-bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.txt_red {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #9e730f;
}

.font46 {
  font-size: 46px;
  color: #61b946;
}

.padding50 {
  padding: 50px 15px;
}

.espaco30 {
  height: 30px;
}
.espaco40 {
  height: 40px;
}

.color_red {
  color: #c81e1e;
  font-size: 100%;
}

.b_strong {
  font-weight: 500;
}

.tab_cell {
  display: table;
  width: 100%;
  height: 100%;
}

.celula {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

/* ----------------------------------- */
/* Topo ------------------------------ */
header {
  position: fixed;
  top: 1px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  border-top: 4px solid #00849e;
  z-index: 1000;
  box-shadow: 0px 3px 6px #00000029;
}

.topo {
  position: relative;
  margin-top: 18px;
  margin-bottom: 22px;
}

.logo {
  margin-left: 67px;
  width: 151px;
  height: 71px;
  background-image: url(../images/logoCM.png);
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-property: width height margin-left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: width height margin-left;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
} /*  */

.area_bt_topo {
  position: absolute;
  top: 10px;
  right: 67px;
  display: table;
  z-index: 1001;
  transition-property: top right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: top right;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

/* ----------------------------------- */
/* Menu ------------------------------ */
.menu {
  position: absolute;
  top: 44px;
  right: 280px;
  display: inline-block;
  transition-property: top right background-color;
  transition-duration: 0.3s;
  -webkit-transition-property: top right background-color;
  -webkit-transition-duration: 0.3s;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  padding: 0px 22px;
  text-align: center;
  transition-property: padding;
  transition-duration: 0.5s;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 0.5s;
}

nav.menu ul li a {
  color: #444;
  font-size: 16px;
  font-weight: 500;
  transition-property: color font-size;
  transition-duration: 0.5s;
  -webkit-transition-property: color font-size;
  -webkit-transition-duration: 0.5s;
}

nav.menu ul li a:link {
  color: #444;
  font-weight: 500;
}

nav.menu ul li a:active {
  color: #444;
}

nav.menu ul li a:visited {
  color: #444;
}

nav.menu ul li a:hover {
  text-decoration: none;
  color: #61b946;
}

nav.menu ul li a.ativo {
  color: #61b946;
}
nav.menu ul li a.ativo:link {
  color: #61b946;
}

nav.menu ul li a.ativo:active {
  color: #61b946;
}

nav.menu ul li a.ativo:visited {
  color: #61b946;
}

nav.menu ul li a.ativo:hover {
  text-decoration: none;
  color: #61b946;
}

/* ----------------------------------- */
/* Home ------------------------------ */
.home {
  padding-top: 52px;
  transition-property: padding-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: padding-top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.home_banner {
  top: 60px;
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 620px;
  border-bottom: 4px solid #61b946;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #000;
}

.banner_description {
  position: absolute;
  top: 100px;
  left: 70px;
  transition-property: top left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: top left;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.banner_h1 {
  font-size: 110px;
  font-weight: bold;
  color: #61b946;
  margin-left: -4px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.banner_h2 {
  font-size: 40px;
  font-weight: 500;
  color: white;
  margin-top: -24px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.banner_h2 span {
  color: #61b946;
  font-size: 26px;
}

.banner_assinatura {
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.banner_txt {
  font-size: 30px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 24px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.banner_stores {
  position: absolute;
  bottom: 60px;
  left: 70px;
  transition-property: top left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: top left;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

/* ----------------------------------- */
/* whyREM ---------------------------- */
.whyREM {
  width: 100%;
  padding-top: 40px;
}

.caminho_img {
  margin-bottom: -70px;
  transition-property: margin-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: margin-bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.caminho_img img {
  width: 100%;
}

.whyREM_container {
  background-color: #f7f7f7;
}

.multiple_boxes {
  padding-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  transition-property: margin-left margin-right grid-column-gap grid-row-gap;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: margin-left margin-right grid-column-gap
    grid-row-gap;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.multiple_boxes .box {
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); /*  #00000029; */
  transition-property: box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.multiple_boxes .box:hover {
  box-shadow: 0px 3px 6px #00000080;
}
.multiple_boxes .box .box_padding {
  padding: 68px 29px 48px 29px;
  text-align: center;
  margin: 0 auto;
}
.multiple_boxes .box h3 {
  margin-top: 30px;
  text-align: center;
  color: #61b946;
  font-size: 24px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.multiple_boxes .box div {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  max-width: 290px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

/* ----------------------------------- */
/* features -------------------------- */
.features {
  padding-top: 50px;
  background-color: #f7f7f7;
}

.features_list {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  max-width: 1100px;
  display: grid;
  justify-content: center;
}

.features_list li p{
    font-size: 1.2em;
}

.features_list li {
  display: flex;
  font-size: 20px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 50px;
  transition-property: font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: font-size;
  -webkit-transition-duration: 0.3s;
}

.banner_mobile {
  background-color: #262626;
  color: #fff;
  padding: 40px 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../images/bg-shapes_desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner_mobile_container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.banner_mobile_boxT {
  padding-top: 160px;
  text-align: left;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 50px;
}

.banner_mobile_boxT span {
  color: #61b946;
  font-size: 100%;
}

.banner_mobile_container .col02 {
  text-align: center;
}

.banner_mobile_container .col02 img {
  /*  width: 581px;
    margin: -133px 0; */
}

.bt_start_red_posis_01 {
  display: block;
  max-width: 422px;
}

.bt_start_red_posis_02 {
  display: none;
}

/* ----------------------------------- */
/* prices ---------------------------- */
.prices {
  padding-bottom: 180px;
  margin-top: 0px;
  background-image: url(../images/prices_bg.jpg);
  background-position: bottom, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 300% auto, cover;
  transition-property: padding-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: padding-bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.prices_miniBanner {
  padding: 70px 10px 40px 10px;
}

.banner_green {
  width: 620px;
  height: 100px;
  background-color: #00849e;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 38% 25% 37%;
}

.banner_green .banner_green_C1 {
  text-align: center;
  color: #fff;
  height: 100%;
  font-size: 16px;
}
.banner_green .banner_green_C1 div {
  font-size: 16px;
}

.banner_green .banner_green_C2 {
  text-align: center;
  color: #fff;
  height: 100%;
}
.banner_green .banner_green_C3 {
  text-align: center;
  color: #fff;
  height: 100%;
}

.banner_green_Desc {
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
}

.banner_green_Desc .col1 {
  font-size: 70px;
  font-weight: 500;
  font-stretch: semi-condensed;
}

.banner_green_Desc .col2 {
  padding-top: 12px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.banner_green_Desc .col2 .price_off {
  margin-top: -14px;
  font-size: 18px;
  font-weight: normal;
}

.legenda_white {
  font-size: 15px;
}

.price_section {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1100px;
}

.prices_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  margin-left: 67px;
  margin-right: 67px;
}

.prices_container .box {
  color: #777;
  border-radius: 4px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.prices_container .box h3 {
  color: #61b946;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 28px;
}

.prices_container .box h3 i {
  font-size: 24px;
}

.prices_container .box .subtitulo {
  font-size: 17px;
  font-weight: normal;
  color: #777;
  font-weight: 500;
}

.package_classifc {
  margin-top: 6px;
  margin-bottom: 25px;
}

.prices_container .box .creditos {
  font-size: 11px;
  font-weight: normal;
  color: #888;
}

.prices_container .box .creditos2 {
  font-size: 12px;
  font-weight: normal;
  color: #999;
}

.creditosMais {
  font-size: 21px;
  color: #c8c8c8;
  margin-left: 10px;
  margin-top: -2px;
  margin-bottom: -4px;
}

.prices_container .box .creditos span {
  font-size: 17px;
  font-weight: normal;
}

.promo_green {
  margin-top: 35px;
  font-size: 11px;
  font-weight: 500;
  color: #2ed75e;
  margin-bottom: -4px;
}

.prices_container .box .box_price {
  margin-bottom: 14px;
}

.prices_container .box .price {
  color: #61b946;
  font-size: 26px;
  font-weight: 500;
}

.prices_container .box .price_periodo {
  font-size: 11px;
  font-weight: normal;
  color: #888;
  padding-left: 4px;
}

.prices_container .box .price_strike {
  font-size: 17px;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #444;
  text-decoration: line-through;
}

.save {
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 14px;
  color: #fff;
  background-color: #61b946;
  padding: 3px 15px;
  display: table;
  border-radius: 4px;
  font-weight: normal;
}

/* ----------------------------------- */
/* Review ---------------------------- */
.review {
  margin-top: -70px;
  background-color: #fff;
  transition-property: margin-top padding-top;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: margin-top padding-top;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.depoimentos_container {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1000px;
}

.depoimento_box {
  margin-bottom: 80px;
  text-align: center;
}

.depoimento_box img {
  margin: 0 auto;
  margin-top: 20px;
}

.depoimentoTXT {
  font-size: 18px;
  text-align: center;
}

.depoimentoAspas {
  font-size: 35px;
  color: #8d8d8d;
  opacity: 0.2;
}

.fa-quote-left {
  margin-right: 20px;
}
.fa-quote-right {
  margin-left: 20px;
}

.depoimentoUser {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  opacity: 0.8;
}

.tarja_red {
  font-size: 24px;
  color: #fff;
  background-color: #00849e;
  padding: 37px;
  width: auto;
  text-align: center;
  font-weight: normal;
}

/* ----------------------------------- */
/* footer ---------------------------- */
footer {
  margin-top: 0px;
  padding: 22px 10px;
  text-align: center;
  background-color: #f2f2f2;
  line-height: 36px;
}

footer a {
  color: #444;
  font-size: 18px;
}
footer a:link {
  color: #444;
  font-size: 18px;
}
footer a:active {
  color: #444;
  font-size: 18px;
}
footer a:visited {
  color: #444;
  font-size: 18px;
}
footer a:hover {
  font-size: 18px;
}

.footer_copyright {
  color: #777;
  font-size: 16px;
}

/* ----------------------------------- */
/* Forms e Botões -------------------- */
.bt_green {
  position: absolute;
  top: 19px;
  right: 67px;
  z-index: 1001;
  color: #fff;
  padding: 5px 22px 6px 22px;
  font-size: 15px;
  border-radius: 100px;
  background-color: #ebab17;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition-property: background-color padding font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color padding font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.bt_green:hover {
  background-color: #a97809;
}

.bt_start {
  padding: 15px 90px;
  color: #fff;
  font-size: 20px;
  border-radius: 100px;
  border: 0px solid #ebab17;
  background-color: #ebab17;
  cursor: pointer;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  transition-property: background-color padding font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color padding font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.bt_start:hover {
  background-color: #a97809;
}
.bt_start i {
  margin-top: 3px;
  margin-right: 10px;
  font-size: 24px;
  font-weight: bold;
}

.bt_start_red {
  padding: 21px 30px;
  color: #fff;
  font-size: 16px;
  border-radius: 100px;
  border: 0px solid #ebab17;
  background-color: #ebab17;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition-property: background-color padding font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color padding font-size;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.bt_start_red:hover {
  background-color: #a97809;
}
.bt_start_red i {
  margin-top: 3px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.bt_appStore {
  margin-right: 8px;
  width: 160px;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: width height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.bt_googlePlay {
  margin-left: 8px;
  width: 176px;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: width height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.bt_symbol_area {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  transition-property: padding-top padding-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: padding-top padding-bottom;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}

.bt_symbol {
  border: 0px solid #fff;
  width: 40px;
  height: 50px;
  background-image: url(../images/bt_seta_down.png);
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
  transition-property: opacity width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: opacity width height;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
}
.bt_symbol:hover {
  opacity: 1;
}

.bt_OFF {
  border-radius: 4px;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 170px;
  font-weight: bold;
  font-size: 18px;
  background-color: #bca332;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  cursor: pointer;
}
.bt_OFF:hover {
  background-color: #7f6f22;
}

img:focus {
  box-shadow: none;
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

input:focus {
  box-shadow: none;
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

button:focus {
  box-shadow: none;
  border-color: #cccccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

/* ----------------------------------- */
/* Animações Customizadas ------------ */
.animaAnimate2 {
  opacity: 0;
}

.animaAnimate3 {
  opacity: 0;
}

@media screen and (max-width: 1768px) {
  /* ----------------------------------- */
  /* Home ------------------------------ */
  .home_banner {
    background-size: cover;
  }
}

@media screen and (max-width: 1600px) {
  /* ----------------------------------- */
  /* Home ------------------------------ */
  .home_banner {
    background-size: cover;
  }

  .banner_h1 {
    font-size: 98px;
  }

  .banner_h2 {
    font-size: 26px;
  }

  .banner_assinatura {
    font-size: 17.5px;
  }

  .banner_txt {
    font-size: 18px;
  }
}

@media screen and (max-width: 1500px) {
  /* ----------------------------------- */
  /* Review 1500 ----------------------- */
  .review {
    margin-top: -127px;
  }
}

@media screen and (max-width: 1400px) {
  /* ----------------------------------- */
  /* Home 1400 ------------------------- */
  .banner_description {
    top: 100px;
    left: 70px;
  }

  /* ----------------------------------- */
  /* whyREM 1400 ----------------------- */
  .whyREM {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1200px) {
  /* ----------------------------------- */
  /* whyREM ---------------------------- */
  .caminho_img {
    margin-bottom: -30px;
  }

  /* ----------------------------------- */
  /* prices 1000 ----------------------- */
  .prices {
    padding-bottom: 180px;
  }
}

/* IPAD */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* ----------------------------------- */
  /* IPAD ------------------------------ */

  .home_banner {
    background-image: url(../images/main-banner-mobile_2.jpg);
    background-size: cover;
    background-position: top;
  }

  .banner_description {
    position: absolute;
    top: auto;
    bottom: 240px;
    left: 0px;
    width: 100%;
    text-align: center;
  }

  .banner_h1 {
    font-size: 110px;
    margin-left: auto;
    text-align: center;
  }

  .banner_assinatura {
    margin-top: -4px;
  }

  .banner_txt {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .banner_stores {
    bottom: 40px;
    left: 0px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  /* ----------------------------------- */
  /* Textos ---------------------------- */
  h1 {
    font-size: 26px;
  }
  h1 span {
    font-size: 26px;
  }

  h2 {
    font-size: 22px;
    line-height: 38px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .txt_descricao {
    margin-top: 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-left: 20px;
  }

  .txt_green {
    font-size: 16px;
    margin-top: 0px;
  }

  /* ----------------------------------- */
  /* Topo 900 -------------------------- */
  header {
    box-shadow: none;
  }

  /* ----------------------------------- */
  /* Menu 900 -------------------------- */
  .menu {
    top: 82px;
    right: auto;
    left: 0px;
    display: block;
    text-align: center;
    display: block;
    width: 100vw;
    background-color: #f0f0f0;
    box-shadow: 0px 3px 6px #00000029;
  }

  .menu ul {
    display: block;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu ul li {
    display: inline-block;
    padding: 0px 12px;
    text-align: center;
    margin: 0px 0px;
  }

  .topo {
    margin-top: 5px;
  }

  /* ----------------------------------- */
  /* Home ------------------------------ */
  .home_banner {
    min-height: auto;
    top: 80px;
  }

  /* ----------------------------------- */
  /* whyREM 900 ------------------------ */
  .caminho_img {
    margin-bottom: -2px;
  }

  .bt_symbol_area {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .bt_symbol {
    width: 30px;
    height: 38px;
  }

  /* ----------------------------------- */
  /* prices 900 ------------------------ */
  .prices {
    padding-bottom: 76px;
  }

  /* ----------------------------------- */
  /* Review 900 ----------------------- */
  .review {
    margin-top: -25px;
  }

  /* ----------------------------------- */
  /* Forms e Botões 900 ---------------- */
  .bt_start {
    padding: 14px 70px 14px 70px;
    font-size: 20px;
    font-weight: 500;
  }
  .bt_start i {
    font-size: 20px;
  }

  .bt_start_red {
    padding: 14px 40px 14px 40px;
    font-size: 16px;
    font-weight: 500;
  }
  .bt_start_red i {
    font-size: 16px;
  }

  .prices_container{
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
  }

}

@media screen and (max-width: 800px) {
  /* ----------------------------------- */
  /* Topo 800 -------------------------- */
  .home {
    padding-top: 124px;
  }

  .logo {
    margin-left: 16px;
  }

  .area_bt_topo {
    right: 16px;
  }
  .topo {
    margin-top: 5px;
  }

  /* ----------------------------------- */
  /* Forms e Botões 800 ---------------- */
  .bt_green {
    right: 16px;
  }

  /* ----------------------------------- */
  /* Home 800 -------------------------- */
  .home_banner {
    background-image: url(../images/bannerMobile2.png);
    background-size: 105% auto;
    border-bottom: 0px solid #c81e1e;
    height: 143vh;
    top: 0;
  }

  .banner_description {
    position: absolute;
    top: auto;
    bottom: 140px;
    left: 0px;
    width: 100%;
    text-align: center;
  }

  .banner_h1 {
    font-size: 58px;
    margin-left: auto;
    text-align: center;
  }

  .banner_assinatura {
    margin-top: -4px;
  }

  .banner_txt {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .banner_stores {
    bottom: 40px;
    left: 0px;
    width: 100%;
    text-align: center;
  }

  /* ----------------------------------- */
  /* whyREM 800 ------------------------ */
  .multiple_boxes {
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .multiple_boxes .box h3 {
    font-size: 22px;
  }

  .multiple_boxes .box div {
    font-size: 16px;
  }

  /* ----------------------------------- */
  /* features 800 ---------------------- */
  .features_list {
    width: 100%;
  }

  .features_list li {
    font-size: 16px;
    margin-bottom: 10px;
    background-size: 20px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 20px;
    background-position: 0px 3px;
  }

  .descricao {
    margin-left: 0px;
  }

  .banner_mobile {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  .banner_mobile_container {
    width: 100%;
    grid-template-columns: auto;
    grid-row-gap: 20px;
    padding-bottom: 20px;
  }

  .banner_mobile_container .col01 {
    text-align: center;
  }

  .banner_mobile_boxT {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    line-height: 45px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 0px;
  }

  .bt_start_red_posis_01 {
    display: none;
  }

  .bt_start_red_posis_02 {
    display: block;
    margin-top: 20px;
    padding: 0 10px;
  }

  .box_description {
    width: 100%;
  }

  /* ----------------------------------- */
  /* prices 800 ------------------------ */
  .prices {
    background-image: url(../images/prices_bg_mob.jpg);
    padding-bottom: 271px;
  }

  .prices_miniBanner {
    background-image: url(../images/mini-banner-mobile2-bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .prices .descricao {
    margin: 0 auto;
    width: 92%;
    margin-top: 20px;
  }

  .banner_green {
    width: 100%;
    height: auto;
    border-radius: 0px;
    padding-top: 20px;
    padding-bottom: 34px;
    grid-template-columns: auto;
    grid-row-gap: 0px;
  }

  .banner_green .banner_green_C1 {
    font-size: 20px;
    height: 50px;
  }
  .banner_green .banner_green_C1 div {
    font-size: 20px;
  }
  .banner_green .banner_green_C2 {
    height: 110px;
  }
  .banner_green .banner_green_C3 {
    height: 90px;
  }

  .banner_green_Desc {
    width: 150px;
    margin: 0 auto;
  }

  .legenda_white {
    font-size: 18px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .bt_OFF {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 204px;
    font-size: 24px;
  }

  .prices_container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 26px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .prices_container .box h3 {
    font-size: 28px;
    display: inline-block;
  }

  .prices_container .box h3 i {
    font-size: 28px;
  }

  .prices_container .box .subtitulo {
    margin-left: 6px;
    margin-top: 3px;
    font-size: 18px;
    display: inline-block;
  }

  .prices_container .box .creditos {
    font-size: 16px;
  }

  .prices_container .box .creditos2 {
    font-size: 18px;
  }

  .creditosMais {
    font-size: 21px;
  }

  .prices_container .box .creditos span {
    font-size: 26px;
  }

  .prices_container .box .price {
    font-size: 38px;
  }

  .prices_container .box .price_periodo {
    font-size: 18px;
  }

  .promo_green {
    font-size: 16px;
    margin-bottom: -4px;
  }

  .prices_container .box .price_strike {
    font-size: 24px;
  }

  .save {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 20px;
    padding: 4px 18px;
  }

  /* ----------------------------------- */
  /* Review 800 ------------------------ */
  .review {
    margin-top: -220px;
  }

  .depoimentos_container {
    background-color: #fff;
  }

  .depoimento_box {
    margin: 0 auto;
    width: 92%;
    margin-bottom: 50px;
  }

  .depoimentoTXT {
    font-size: 16px;
    text-align: center;
  }

  .depoimentoAspas {
    font-size: 28px;
  }

  .tarja_red {
    font-size: 24px;
  }

  /* ----------------------------------- */
  /* Forms e Botões 800 ---------------- */
  .bt_appStore {
    width: 110px;
  }

  .bt_googlePlay {
    width: 124px;
  }

  .prices {
    background-size: 2095% auto, cover;
  }
}

@media screen and (max-width: 700px) {
  /* ----------------------------------- */
  /* prices 700 ------------------------ */
  .prices {
    padding-bottom: 209px;
  }

  /* ----------------------------------- */
  /* Review 700 ------------------------ */
  .review {
    margin-top: -160px;
  }
}

@media screen and (max-width: 500px) {
  /* ----------------------------------- */
  /* prices 500 ------------------------ */
  .prices {
    padding-bottom: 150px;
  }

  /* ----------------------------------- */
  /* Review 500 ------------------------ */
  .review {
    margin-top: -100px;
  }

  .fontSize {
    font-size: 20px !important;
  }

  .divList .menuList a{
      font-size: 1.1em !important;
  }

}

@media screen and (max-width: 400px) {
  /* ----------------------------------- */
  /* Home 400 -------------------------- */
  .home_banner {
    background-position: top center;
  }

  /* ----------------------------------- */
  /* whyREM 400 ------------------------ */
  .whyREM_container {
    padding-top: 10px;
  }

  /* ----------------------------------- */
  /* features 400 ---------------------- */
  .banner_mobile_container .col02 img {
    width: 280px;
  }

  /* ----------------------------------- */
  /* prices 400 ------------------------ */
  .prices {
    padding-bottom: 152px;
  }
}

@media screen and (max-width: 350px) {
  /* ----------------------------------- */
  /* Menu 350 ---------------- */
  .menu ul li {
    padding: 0px 10px;
  }

  nav.menu ul li a {
    font-size: 14px;
  }

  /* ----------------------------------- */
  /* prices 350 ------------------------ */
  .prices {
    padding-bottom: 101px;
  }

  /* ----------------------------------- */
  /* Review 350 ------------------------ */
  .review {
    margin-top: -50px;
  }

  /* ----------------------------------- */
  /* Forms e Botões 350 ---------------- */
  .bt_green {
    padding: 4px 18px 5px 18px;
    font-size: 14px;
    right: 10px;
  }

  .bt_start {
    padding: 12px 60px 12px 60px;
    font-size: 18px;
  }
  .bt_start i {
    font-size: 18px;
  }

  .bt_start_red {
    padding: 10px 30px 10px 30px;
    font-size: 14px;
  }
  .bt_start_red i {
    font-size: 14px;
  }
}

/* alterações para CM */

.fontSize {
  font-size: 27px;
}

.iconGreen {
  font-size: 1.2em;
  padding-right: 10px;
  padding-top: 6px;
  color: #61b946;
}
#spanTerms {
  font-size: 19px;
}

.linkTel {
  position: absolute;
  top: 19px;
  right: 300px;
  z-index: 1001;
  color: #00849e;
  padding: 5px 22px 6px 22px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.linkTel i {
  padding-right: 10px;
  font-size: 16px;
  margin-top: 4px;
}

.linkLogin {
  position: absolute;
  top: 19px;
  right: 220px;
  z-index: 1001;
  color: #00849e;
  padding: 5px 22px 6px 22px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

/* //desktop */
@media only screen and (min-width: 850px) {
  .mobile {
    display: none;
  }
  body {
    width: 100% !important;
  }
  #header {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 90px;
    grid-template-rows: 90px;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    background-color: #f7f8f9;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9000;
    border-top: 4px solid #00849e;
    -webkit-box-shadow: 0px 3px 6px #00000029;
    box-shadow: 0px 3px 6px #00000029;
  }
  #header #divLogo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 20px;
    height: 62px;
    max-width: 130px;
    width: 100%;
  }
  #header #divInfo {
    padding-right: 20px;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.1em;
  }
  #header #divInfo input {
    height: 33px;
    color: #fff;
    padding: 5px 22px 6px 22px;
    font-size: 15px;
    border-radius: 100px;
    background-color: #ebab17;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border: 0;
    margin-left: 15px;
  }
  #header #divInfo input:hover {
    background-color: #cc9516;
  }
  #header #divInfo p {
    padding-top: 6px;
  }

  #header #divInfo .linkCol {
    padding-left: 30px;
  }

  #header #divInfo p a {
    color: #00849e;
    text-decoration: none;
    font-size: 1.2em;
  }
  #header #divInfo p a i {
    font-size: 1.2em;
    padding-top: 2px;
    padding-right: 10px;
  }
  #header .divList {
    -ms-flex-item-align: center;
    -ms-grid-row-align: start;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: start;
    max-width: 400px;
  }
  #header .divList .menuList {
    padding: 0px;
    font-size: 15px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
    white-space: nowrap;
  }
  #header .divList .menuList #secondLink {
    padding: 0 40px;
  }
  #header .divList .menuList a {
    font-size: 1.2em;
    text-decoration: none;
    color: #444;
  }
  #header .divList .menuList a:hover {
    color: #61b946;
  }
  #part1 .banner {
    background-image: url(../images/banner.png);
    height: 668px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-grid;
    display: grid;
    border-bottom: 4px solid #61b946;
  }
  #part1 .banner .txtBanner {
    color: white;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 60px;
    align-self: center;

    font-size: 16px;
  }
  #part1 .banner .txtBanner .bannerH1 {
    font-size: 6em;
    color: #61b946;
    font-weight: 900;
    height: 125px;
  }
  #part1 .banner .txtBanner .bannerH2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  #part1 .banner .txtBanner .bannerH2 span {
    color: #61b946;
    font-size: 1em;
  }
  #part1 .banner .txtBanner .bannerAssinatura {
    font-style: italic;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .bannerTxt {
    margin-top: 50px;
    font-size: 2em;
  }
  #part1 .banner .txtBanner .bannerTxt2 {
    margin-top: 75px;
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .containerImg {
    max-width: 200px;
    margin-top: 20px;
  }
}

/* mobile */
@media only screen and (max-width: 849px) {
  .desktop {
    display: none !important;
  }
  .banner {
    border-bottom: 4px solid #61b946;
  }
  #header {
    display: -ms-grid;
    display: grid;
    background-color: #f7f8f9;
    -ms-grid-rows: 90px;
    grid-template-rows: 90px;
    z-index: 20000;
    padding: 0 5px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
  #header #divLogo {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 20px;
    max-width: 150px;
  }
  #header #divInfo {
    padding: 0 20px;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #header #divInfo p {
    padding-top: 6px;
  }

  #header #divInfo .linkCol {
    padding-left: 15px;
  }

  #header #divInfo p a {
    color: #00849e;
    text-decoration: none;
    font-size: 1.2em;
  }

  #header #divInfo p a i {
    font-size: 1.2em;
    padding-right: 10px;
    padding-top: 2px;
  }
  .divList {
    grid-area: list;
    background-color: #ebeced;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-color: #d7d7d7;
    border-block-end-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20023;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    height: 50px;
  }
  .divList .menuList {
    font-size: 0.86em;
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
  }
  .divList .menuList a {
    font-size: 1.2em;
    text-decoration: none;
    color: #444;
  }
  .divList .menuList a:hover {
    color: #61b946;
  }
  .divList input {
    height: 33px;
    color: #fff;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 100px;
    background-color: #ebab17;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    border: 0;
    font-weight: 700;
  }
  .divList input:hover {
    background-color: #cc9516;
  }
  #part1 .banner .txtBanner {
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -29em;
    width: 95vw;
    font-size: 2.7vw;
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
  #part1 .banner .txtBanner .bannerH1 {
    font-size: 6em;
    color: #61b946;
    font-weight: 900;
    height: 1.2em;
  }
  #part1 .banner .txtBanner .bannerH2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  #part1 .banner .txtBanner .bannerH2 span {
    color: #61b946;
    font-size: 1em;
  }
  #part1 .banner .txtBanner .bannerAssinatura {
    font-style: italic;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .bannerTxt {
    margin-top: 20px;
    font-size: 2em;
  }
  #part1 .banner .txtBanner .bannerTxt2 {
    margin-top: 1.5em;
    font-size: 1.2em;
  }
  #part1 .banner .txtBanner .containerImg {
    height: 30px;
    width: 30vw;
    margin-top: 1em;
  }
}

#divLogo {
  cursor: pointer;
}

#linkLogin{
    font-weight: 500;
}

.whyREM_container h1 {
  padding: 0 10px;
}

.whyREM_container div {
  padding: 0 10px;
}

.whyREM_container h2 {
  padding: 50px 10px;
}
